@import "tailwindcss";

@layer utilities {
  .stroke-1 { -webkit-text-stroke: 1px white; }
  .stroke-2 { -webkit-text-stroke: 2px white; }
  .stroke-3 { -webkit-text-stroke: 3px white; }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .width-md{
    min-width: 190px;
  }

  .width-sm{
    width: 160px;
  }

  .width-lg{
    width: 250px;
  }

  .width-xl{
    width: 380px;
  }

  .height-xsm{
    height: 60px;
  }

  .height-md{
    height: 272px;
  }

  .height-lg{
    min-height: 290px;
  }
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    pointer-events: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;  
}

.answer.active {
    max-height: 500px; 
    opacity: 1;
}

.slider-btn{
  transition: opacity 0.3s ease;
}

.slider-hidden{
  opacity: 0;
  pointer-events: none;
}

.slider-visible{
  opacity: 1;
  pointer-events: auto;
}

